<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assest/css/loginGrid.css">
    <title>login</title>
</head>
<body>
    
    <main>
        <div class="contenedor">
            <img class="img1" src="../assest/img/login/vector-login.svg" alt="">
            <img class="img2" src="../assest/img/Hotelia horizontal negro.svg" alt="">
            <div class="contenido">
                <img src="../assest/img/opinion/user3.png" alt="">
                <div class="espa">
                    <label for="">Usuario</label>
                    <input type="text">
                    <label for="">Contraseña</label>
                    <input type="password">
                </div>
                <button>Ingresar</button>
                <p>¿No tienes una cuenta? <a href="Registrar.html">Registrate aqui</a></p>
            </div>
        </div>
    </main>

</body>
</html>
